body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	font-size: 3em;
	color:#c0cedc;

}

hr {
	border-color: #F05F44;
	border-width: 3px;
	max-width:65px;
}
.buffer {
	height:10rem;
}
.btn{
	font-weight: 700;
	border-radius:300px;
	text-transform: uppercase;
}
.btn-xl{
	padding:1rem 2rem;
	/* 1 top/bottom   2 left/right*/

}
.btn-primary{
	background-color:#dc6613;
	border-color:#dc6613; 
}
.btn-primary:hover{
	background-color: #ee4b08;
	border-color:#dc6613;
	border-width:4px;
}

